{% extends 'competition/template.html' %}
{% load i18n %}


{% block extra_head %}
<style>
    body {
        padding-top: 0;
    }
</style>
{% endblock %}
{% block content %}


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">{% trans 'Welcome to the league generator' %}</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            {% for news in news_list %}
                <div class="col-md-4">
                    <h2>{{ news.headline }}</h2>
                    <p>{{ news.text }}</p>
                    {% if news.news.link %}
                        <p><a class="btn btn-secondary" href="{{ news.news.link }}" role="button">View details &raquo;</a></p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <hr>

    </div> <!-- /container -->

{% endblock %}
