{% extends 'competition/template.html' %}
{% load i18n %}
{% load static %}

{% block extra_head %}
    <style>
        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin .checkbox {
            font-weight: 400;
        }
        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
{% endblock %}
{% block content %}
    <form class="needs-validation" class="form-signin" method="post" novalidate>
        {% csrf_token %}
        <h2 class="form-signin-heading">{% trans 'Login' %}</h2>
        <div>
            <label for="username" class="sr-only">{% trans 'Username' %}</label>
            <input type="text" id="username" name="username" class="form-control rounded" placeholder="{% trans 'Username' %}" required autofocus>
            <div class="invalid-feedback">
                {% trans "Missing username" %}
            </div>
        </div>
        <div>
            <label for="inputPassword" class="sr-only">{% trans 'Password' %}</label>
            <input type="password" id="inputPassword" name="password" class="form-control rounded mt-2" placeholder="{% trans 'Password' %}" required>
            <div class="invalid-feedback">
                {% trans "Missing password" %}
            </div>
        </div>
        <input type="hidden" name="next" value="{{ next }}">
        <div class="invalid-feedback" {% if form.errors %}style="display: block" {% endif %}>
            <label>{% trans 'Invalid credentials' %}</label>
        </div>
        <span class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> {% trans 'Remember me' %}
            </label>
        </span>
        <span class="float-right">
            <a href="{% url 'competition:register' %}">{% trans "Register" %}</a>
        </span>
        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Sign in' %}</button>
    </form>
{% endblock %}

{% block scripts %}
    <script src="{% static 'competition/formValidation.js' %}"></script>
{% endblock %}
