{% extends 'competition/template.html' %}
{% load i18n %}
{% load static %}

{% block extra_head %}
    <style>
        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-signin .form-signin-heading,
        .form-signin {
            margin-bottom: 10px;
        }
        .form-signin {
            font-weight: 400;
        }
        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
{% endblock %}
{% block content %}
    <form class="needs-validation" class="form-signin" method="post" novalidate>
        {% csrf_token %}
        <h2 class="form-signin-heading">{% trans 'Welcome!' %}</h2>
        <div class="my-2">
            <label for="username">{% trans 'Username' %}</label>
            <input type="text" id="username" name="username" class="form-control rounded mb-2{% if form.username.errors %} is-invalid{% endif %}" placeholder="{% trans 'Username' %}" required autofocus>
            <div class="invalid-feedback">
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                {% else %}
                    {% trans "Missing username" %}
                {% endif %}
            </div>
        </div>
        <div class="my-2">
            <label for="email">{% trans 'Email' %}</label>
            <input type="email" id="email" name="email" class="form-control rounded mb-2{% if form.email.errors %} is-invalid{% endif %}" placeholder="{% trans 'Email' %}" required autofocus>
            <div class="invalid-feedback">
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                {% else %}
                    {% trans "Invalid email" %}
                {% endif %}
            </div>
        </div>
        <div class="my-2">
            <label for="password1">{% trans 'Password' %}</label>
            <input type="password" id="password1" name="password1" class="form-control rounded mb-2{% if form.password1.errors %} is-invalid{% endif %}" placeholder="{% trans 'Password' %}" required>
            <div class="invalid-feedback">
                {% if form.password1.errors %}
                    {% for error in form.password1.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                {% else %}
                    {% trans "Missing password" %}
                {% endif %}
            </div>
        </div>
        <div class="my-2">
            <label for="password2">{% trans 'Confirm password' %}</label>
            <input type="password" id="password2" name="password2" class="form-control rounded{% if form.password2.errors %} is-invalid{% endif %}" placeholder="{% trans 'Password' %}" required>
            <div class="invalid-feedback">
                {% if form.password2.errors %}
                    {% for error in form.password2.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                {% else %}
                    {% trans "Missing password" %}
                {% endif %}
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block my-1" type="submit">{% trans 'Register' %}</button>
    </form>
{% endblock %}

{% block scripts %}
    <script src="{% static 'competition/formValidation.js' %}"></script>
{% endblock %}
