{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'football/favicon.png' %}">

    <title>League generator</title>

    <link href="{% static 'bootstrap/v4/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'competition/style.css' %}" rel="stylesheet">

    <style>
        .navbar {
            background: url({% static 'competition/images/bg.jpg' %}) center center fixed;
            -webkit-background-size: 100%;
            -moz-background-size: 100%;
            -o-background-size: 100%;
            background-size: 100%;
        }
    </style>
    {% block extra_head %}{% endblock %}

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar-brand" href="/"><img style="height: 30px" src="{% static 'football/images/football_icon.png' %}" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" />
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <div class="dropdown">
            {% if user.is_authenticated  %}
            <a href="{% url 'competition:users_leagues' %}" class="btn btn-outline-light" role="button">{% trans 'My leagues' %}</a>
            {% endif %}
            <button class="btn btn-outline-light dropdown-toggle" type="button" id="createLeagueButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% trans 'Create league' %}
            </button>
            <div class="dropdown-menu" aria-labelledby="createLeagueButton">
                <a class="dropdown-item" href="{% url 'football:create_league' %}">{% trans "Football" %}</a>
                <a class="dropdown-item" href="">{% trans "Hockey" %}</a>
                <a class="dropdown-item" href="">{% trans "Cross country" %}</a>
            </div>
        </div>
        <form class="form-inline my-2 my-lg-0 ml-auto" action="{% url 'competition:search' %}">
            <input name="q" class="form-control mr-sm-2" type="text" placeholder="{% trans "Search" %}" aria-label="Search">
            <button class="btn btn-default my-2 my-sm-0" type="submit">{% trans "Search" %}</button>
        </form>
        {% if user.is_authenticated  %}
            <a href="{% url 'competition:logout' %}" class="btn btn-outline-light ml-1" role="button">{% trans 'Logout' %}</a>
        {% else %}
            <a href="{% url 'competition:login' %}" class="btn btn-outline-light ml-1" role="button">{% trans 'Login' %}</a>
            <a href="{% url 'competition:register' %}" class="btn btn-outline-light ml-1" role="button">{% trans 'Register' %}</a>
        {% endif %}
    </div>
</nav>
<div id="banner" class="mb-3" style="visibility: hidden">{% block banner_text %}{% endblock %}</div>
<main role="main" class="container">
    {% block content %}
    {% endblock %}
</main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.js"></script>
<script src="{% static 'bootstrap/v4/js/bootstrap.min.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
