{% extends 'competition/template.html' %}
{% load i18n %}

{% load static %}
{% block content %}
    {% if object_list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">{% trans 'Name' %}</th>
                <th scope="col">{% trans 'Type' %}</th>
            </tr>
        </thead>
        {% for tournament in object_list %}
            <tr>
                <td><a href="{% url 'football:tournament' tournament.ext_id %}">{{ tournament.name }}</a></td>
                <td>{% trans tournament.get_type_display %}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>{% trans "No matching tournaments" %}</p>
    {% endif %}
{% endblock %}