
.connectedSortable {
    border: 1px solid #eee;
    min-height: 50px;
    list-style-type: none;
    padding: 5px 0 0 0;
    margin: 0 10px 0 0;
    cursor: move;
}
.connectedSortable li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 120px;
}

.finish {
    float: right;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

tr>th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.invalidInput {
    border: 2px solid red;
    border-radius: 4px;
}

#playerNameLabel {
    padding: 10px;
}

a.disabled {
    cursor: not-allowed;
}