.promotion {
    background-color: LightGreen;
}

.relegation {
    background-color: LightPink;
}

.standard {
    background-color: LightGoldenRodYellow;
}

.securedPromotion > td {
    font-weight: bold;
}

.confirmedReleaged {
    font-style: italic;
}

.groupTable {
    border-collapse:collapse;
    text-align: center;
}

.groupTable th {
    text-align: center;

}

.groupTable td {
    padding: 10px;
}

.group {
    text-align: left;
}

.groupScore {
    width: 40px;
    text-align: center;
}

#tournament {
    display: flex;
    flex-wrap: nowrap;
}

.groupScore {
    text-align: center;
}
.matchRow:hover {
    border-bottom: 1px solid blue;
    cursor: pointer;
    color: blue;
}
.winner {
    background-color: gold;
    color: white;
    text-align: center;
    font-weight: bold;
}