/*
 *  Flex Layout Specifics
*/
.playoffTree{
    display:flex;
    flex-direction:row;
}
.round{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:200px;
    list-style:none;
    padding:0;
}
.round .spacer{ flex-grow:1; }
.round .spacer:first-child,
.round .spacer:last-child{ flex-grow:.5; }

.round .game-spacer{
    flex-grow:2;
}

/*
 *  General Styles
*/
li.game{
    padding-left:20px;
    height: 2em;
}

.result {
    display: inline-block;
    margin-right: 5px;
    min-width: 10px;
}

li.game.winner{
    font-weight:bold;
}
.score{
    float:right;
    margin-right:15px;
}

li.game-top{ border-bottom:1px solid #aaa; }

li.game-spacer{
    border-right:1px solid #aaa;
    min-height:40px;
}

li.game-bottom{
    border-top:1px solid #aaa;
}

#playoff {
    margin-left: 10px;
}