body {
    padding-top: 3.6rem;
    background-color: transparent;
}

.drag-list {
    padding: 8px;
    list-style-type: none;
    min-height: 74px;
}

.list-item {
    user-select: none;
    padding: 16px;
    margin: 0 0 8px 0;
}

.item-dragging {
    background-color: lightgreen;
}

.list-item:last-child {
    margin-bottom: 0;
}