{% load i18n %}

<form id="generalForm">
    <div class="form-row">
            <label class="col-md-12" for="tournamentType col-md-12">{% trans "Tournament type" %}</label>
            <div class="btn-group btn-group-toggle col-md-12" data-toggle="buttons" id="tournamentType">
                <label class="btn btn-primary active col-md-12" data-value="league">
                    <input type="radio" name="options" onchange="leagueClicked()" autocomplete="off" checked> {% trans "league" %}
                </label>
                <label class="btn btn-primary col-md-12" data-value="playoff">
                    <input type="radio" name="options" onchange="playoffClicked()" autocomplete="off"> {% trans "playoff" %}
                </label>
                <label class="btn btn-primary col-md-12" data-value="league">
                    <input type="radio" name="options" id="option3" onchange="playoffAndGroupClicked()" autocomplete="off"> {% trans "group and playoff" %}
                </label>
            </div>
    </div>
    <div class="form-row my-4">
        <label class="col-md-12" for="tournamentName">{% trans "Tournament name" %}</label>
        <input type="text" class="form-control col-md-12" id="tournamentName" placeholder="{% trans "Tournament name" %}" required>
        <div class="invalid-feedback col-md-12">
            {% trans "Choose tournament name" %}
        </div>
    </div>
    <div class="form-row">
        <label class="col-md-12" for="tournamentType">{% trans "Tournament visibility" %}</label>
        <div class="btn-group btn-group-toggle col-md-12" data-toggle="buttons" id="tournamentType">
            <label class="btn btn-primary active col-md-12" data-value="league">
                <input type="radio" name="visibility" autocomplete="off" value="true" checked> {% trans "visible" %}
            </label>
            <label class="btn btn-primary col-md-12" data-value="playoff">
                <input type="radio" name="visibility" autocomplete="off" value="false"> {% trans "invisible" %}
            </label>
        </div>
    </div>
</form>