{% load i18n %}
<form>
    <div class="form-row">
        <label class="col-md-12" for="tournamentType col-md-12">{% trans "Tournament grouping" %}</label>
        <div class="btn-group btn-group-toggle col-md-12" data-toggle="buttons" id="tournamentType">
            <label class="btn btn-primary active col-md-12" data-value="league">
                <input type="radio" name="options" autocomplete="off" checked> {% trans "manual" %}
            </label>
            <label class="btn btn-primary col-md-12" data-value="playoff">
                <input type="radio" name="options" autocomplete="off"> {% trans "seed" %}
            </label>
            <label class="btn btn-primary col-md-12" data-value="league">
                <input type="radio" name="options" id="option3" autocomplete="off"> {% trans "random" %}
            </label>
        </div>
    </div>
    <div class="form-row my-3">
        <div class="col-md-6 mb-6">
            <label for="groupNo">{% trans "Group no" %}</label>
            <input type="number" class="form-control" id="groupNo" placeholder="{% trans "Group no" %}">
            <div class="invalid-feedback">
                {% trans "Invalid number of groups" %}
            </div>
        </div>
        <div class="col-md-6 mb-6">
            <label for="playoffTeams">{% trans "Teams per group to playoff" %}</label>
            <input type="number" class="form-control" id="playoffTeams" placeholder="{% trans "Teams per group to playoff" %}">
            <div class="invalid-feedback">
                {% trans "Invalid number of teams to playoff" %}
            </div>
        </div>
    </div>
    <div id="groupTieBreakers" style="display: flex; justify-content: center; flex-direction: row">
    </div>
</form>
