{% load i18n %}
<div class="input-group mb-3">
    <input type="text" id="playerName" class="form-control" placeholder="{% trans "Name" %}" aria-label="{% trans "Name" %}">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" onclick="addLeaguePlayer()">{% trans "Add player" %}</button>
    </div>
</div>
<div id="groups" class="row d-none" style="justify-content: center;">
</div>
<div>
</div>
<div id="bracket" class="d-none"></div>