{% load i18n %}

<form id="playoffForm">
    <div class="form-row">
        <div class="col-md-6 mb-6">
            <label for="noRounds">{% trans "Rounds" %}</label>
            <input type="text" class="form-control" id="noRounds" placeholder="{% trans "Rounds" %}">
            <div class="invalid-feedback">
                {% trans "InvalidRounds" %}
            </div>
        </div>
        <div class="col-md-6 mb-6">
            <label for="noFinalRounds">{% trans "Final Rounds" %}</label>
            <input type="text" class="form-control" id="noFinalRounds" placeholder="{% trans "Final Rounds" %}">
            <div class="invalid-feedback">
                {% trans "InvalidRounds" %}
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12 mb-12">
            <label for="noPlayoffTeams">{% trans "Team no" %}</label>
            <select name="noPlayoffTeams" id="noPlayoffTeams" class="form-control" >
                <option value="" disabled selected>{% trans "Teams" %}</option>
                <option value="1">2</option>
                <option value="2">4</option>
                <option value="3">8</option>
                <option value="4">16</option>
                <option value="5">32</option>
                <option value="6">64</option>
            </select>
            <div class="invalid-feedback">
                {% trans 'InvalidNoTeams' %}
            </div>
        </div>
    </div>
    <div id="playoffTieBreakers" class="mt-2" style="display: flex; justify-content: center; flex-direction: row">
    </div>
</form>
