{% extends 'competition/template.html' %}
{% load static %}
{% load i18n %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static "football/addLeague.css" %}">
    <link rel="stylesheet" href="{% static "football/playoff.css" %}">
    <link rel="stylesheet" href="{% static "football/style.css" %}">
    <link rel="stylesheet" href="{% static "wizard/style.css" %}">
{% endblock %}
{% block content %}
    <div id="rootwizard">
        <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
            <li class="nav-item first">
                <a class="nav-link" id="generalPill" data-toggle="pill" href="#generalTab" role="tab" aria-controls="pills-home" aria-selected="true">{% trans "League Details" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="groupPill" data-toggle="pill" href="#groupTab" role="tab" aria-controls="pills-contact" aria-selected="false">{% trans "Group data" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="playoffPill" data-toggle="pill" href="#playoffTab" role="tab" aria-controls="pills-contact" aria-selected="false">{% trans "Playoff data" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="leaguePill" data-toggle="pill" href="#leagueTab" role="tab" aria-controls="pills-contact" aria-selected="false">{% trans "League data" %}</a>
            </li>
            <li class="nav-item last">
                <a class="nav-link" id="playerPill" data-toggle="pill" href="#playerTab" role="tab" aria-controls="pills-contact" aria-selected="false">{% trans "Players" %}</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade" id="generalTab" role="tabpanel" aria-labelledby="pills-home-tab">{% include 'football/createLeaguesTabs/generalTab.html' %}</div>
            <div class="tab-pane fade" id="groupTab" role="tabpanel" aria-labelledby="pills-contact-tab">{% include 'football/createLeaguesTabs/groupTab.html' %}</div>
            <div class="tab-pane fade" id="playoffTab" role="tabpanel" aria-labelledby="pills-contact-tab">{% include 'football/createLeaguesTabs/playoffTab.html' %}</div>
            <div class="tab-pane fade" id="leagueTab" role="tabpanel" aria-labelledby="pills-contact-tab">{% include 'football/createLeaguesTabs/leagueTab.html' %}</div>
            <div class="tab-pane fade" id="playerTab" role="tabpanel" aria-labelledby="pills-contact-tab">{% include 'football/createLeaguesTabs/playerTab.html' %}</div>
        </div>
        <div class="row mt-4">
            <div class="col-sm"><button id="previous" type="button" class="previous btn btn-outline-primary" disabled>{% trans "Previous" %}</button></div>
            <div class="col-sm"><button id="next" type="button" class="next btn btn-outline-primary">{% trans "Next" %}</button></div>
            <div class="col-sm d-none"><button id="finish" type="button" class="finish btn btn-outline-primary">{% trans "Finish" %}</button></div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'football/addTournament.js' %}"></script>
    <script src="{% static 'football/util.js' %}"></script>
    <script src="{% static 'football/bundle.js' %}"></script>
    <script src="{% static 'wizard/wizard.js' %}"></script>
    <script>
        leagueClicked();
        $('#generalPill').tab('show');

        $(document).ready(function() {
            createPlayoffTree("bracket");

            $.get({
                url: "/football/rest/tie_breakers/",
            }).done(function(data) {
                let tieBreakers = [];
                tieBreakers.push({ name: "{% trans 'Selected tie breakers' %}", items: [] });
                let available = { name: "{% trans 'Available tie breakers' %}", items: [] };
                tieBreakers.push(available);
                for(let i = 0; i < data.length; i++) {
                    let tieBreaker = data[i];
                    available.items.push({id:tieBreaker.id, content:tieBreaker.name})
                }
                renderGroupTieBreakers(tieBreakers, ["leagueTieBreakers", "groupTieBreakers"]);
                renderPlayoffTieBreakers(tieBreakers, document.getElementById("playoffTieBreakers"));
            });

            $('#finish').click(function() {
                createTournament();
            });
        });
        $(':input').change(function() {
            $(this).removeClass("invalidInput");
        });

        $pills.on('hide.bs.tab', function (e) {
            if(!switchTab(this)) {
                e.preventDefault();
            }
        });

        $pills.on('show.bs.tab', function () {
            if(this.id === 'playerPill') {
                let rounds = $("#noPlayoffTeams").val();
                let groups = $("#groupNo").val();
                generatePlayoff(rounds);
                generateGroups(groups, "groups");
            }
        });
    </script>
{% endblock %}