<div class="group">
    {{ group.name }}:
    <table class="groupTable">
        <tr>
            <th></th>
            <th>Name</th>
            <th>G</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>GF</th>
            <th>GA</th>
            <th>GD</th>
            <th>P</th>
        </tr>
        {% for row in group.get_wins_draws_and_losses.get_table %}
            <tr class="
            {% if row.is_promoted %}
                promotion
                {% if row.secured_promotion %}
                    securedPromotion
                {% endif %}
            {% elif row.is_relegated %}
                relegation
                {% if row.confirmed_relegated %}
                    confirmedReleaged
                {% endif %}
            {% else %}
                standard
            {% endif %}
            ">
            <td>{{ row.place }}</td>
            <td>{{ row.player }}</td>
            <td>{{ row.games_played }}</td>
            <td>{{ row.wins }}</td>
            <td>{{ row.draws }}</td>
            <td>{{ row.losses }}</td>
            <td>{{ row.goals_scored }}</td>
            <td>{{ row.goals_conceded }}</td>
            <td>{{ row.goal_difference }}</td>
            <td>{{ row.points }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <table>
    {% for match in group.list_all_matches %}
         <tr class="results" data-match-id="{{ match.id }}">
             <td class="player1" data-player-id="{{ match.home_team.id }}">{{ match.home_team }}</td>
             {% if match.is_played %}
                <td style="text-align: center;">{{ match.get_home_result }}</td>
             {% else %}
                <td><input class="scoreinput player1Score" type="number" min="0"></td>
             {% endif %}
             <td>-</td>
             {% if match.is_played %}
                <td style="text-align: center;">{{ match.get_away_result }}</td>
             {% else %}
                <td><input class="scoreinput player2Score" type="number" min="0"></td>
             {% endif %}
             <td class="player2" data-player-id="{{ match.away_team.id }}">{{ match.away_team }}</td>
             {% if match.is_played %}
                <td></td>
             {% else %}
                <td><input type="button" value="Add result" onclick="addResult(this)" /></td>
             {% endif %}
         </tr>
    {% endfor %}
    </table>
</div>
<br>