{% extends 'competition/template.html' %}
{% load static %}
{% load i18n %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'football/playoff.css' %}">
    <link rel="stylesheet" href="{% static 'football/groups.css' %}">
    <link rel="stylesheet" href="{% static "football/style.css" %}">
{% endblock %}

{% block content %}
<main id="tournament">
    <div id="groups">
    </div>
    <div id="playoff">
    </div>
    <div class="modal fade" id="addScoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{% trans 'Add score' %}</h5>
                </div>
                <div class="modal-body">
                    <form class="form-inline">
                        <div id="scoreDiv" class="form-group offset-md-2 mb-3">
                            <label id="team1Label" for="team1Score"></label>
                            <input type="number" id="team1Score" class="form-control mx-sm-3" style="max-width: 60px" aria-describedby="team1Label">
                            -
                            <input type="number" id="team2Score" class="form-control mx-sm-3" style="max-width: 60px" aria-describedby="team2Label">
                            <label id="team2Label" for="team2Score"></label>

                        </div>
                        <div class="modal-footer container-fluid">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Abort' %}</button>
                            <a class="btn btn-primary" href="#" role="button" onclick="saveScore()">{% trans 'Save' %}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block scripts %}
  <script src="{% static 'football/league.js' %}"></script>
  <script src="{% static 'football/util.js' %}"></script>
  <script src="{% static 'football/bundle.js' %}"></script>
  <script>
      createPlayoffTree("playoff", false, true);
      function fetchTournament() {
          $.get({
              url: "/football/rest/tournaments/{{ tournament_id }}/",
          }).done(function(data) {
              if(data.round_set) {
                  renderGroups("groups", data);
              }
              if(data.playoff) {
                  renderPlayoff(data);
              }
              if(data.winners.length) {
                  printWinner(data.winners[0].display_name);
              }
          });
      }
      const $team1Label = $("#team1Label");
      const $team2Label = $("#team2Label");
      const $team1Score = $("#team1Score");
      const $team2Score = $("#team2Score");
      const $scoreDiv = $("#scoreDiv");
      function saveScore() {
          let matchId = $scoreDiv.data("match-id");
          let player1Id = $team1Label.data("player-id");
          let player2Id = $team2Label.data("player-id");
          let player1Score = $team1Score.val();
          let player2Score = $team2Score.val();
          let score1Valid = validateScore(player1Score);
          let score2Valid = validateScore(player2Score);
          if(!score1Valid) {
              $team1Score.addClass("is-invalid");
          }
          if(!score2Valid) {
              $team2Score.addClass("is-invalid");
          }
          if(!score2Valid || !score1Valid) {
              return;
          }
          let data = {
              player1: player1Id,
              player2: player2Id,
              player1Score: player1Score,
              player2Score: player2Score,
          };
          let url;
          if($scoreDiv.data("match-type") === "playoff") {
              url = `/football/addPlayoffResult/${matchId}/`;
          }
          else {
              url = `/football/addResult/${matchId}/`;
          }
          $.ajax({
              type: 'POST',
              url: url,
              data: JSON.stringify(data),
              beforeSend: handleCsrf,
              contentType: "application/json",
          }).done(function () {
              fetchTournament();
              $('#addScoreModal').modal('hide');
          });
      }

      fetchTournament();

      function openDialog(team1, team2, id, matchType) {
          $team1Label.text(team1.name);
          $team2Label.text(team2.name);
          $scoreDiv.data("match-id", id);
          $scoreDiv.data("match-type", matchType);
          $team1Label.data("player-id", team1.id);
          $team2Label.data("player-id", team2.id);
          $team1Score.val('');
          $team2Score.val('');
          $('#addScoreModal').modal('show');
      }

      function printWinner(winner) {
          let $banner = $("#banner");
          let translation = `{% trans 'The winner' %}`;
          $banner.text(translation);
          $banner.addClass('winner');
          $banner.css('visibility', 'visible');
      }
  </script>
{% endblock %}
