{% extends 'competition/template.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'football/playoff.css' %}">
{% endblock %}
{% block content %}
<main id="tournament">
    {% for stage in tournament.get_playoff.get_playoff_tree %}
        <ul class="round round-4">
            <li class="spacer">&nbsp;</li>
            {% for match in stage %}

                <li class="game game-top">{{ match.team1 }}
                    {% for result in match.team1_scores %}
                        <span>{{ result }}</span>
                    {% endfor %}
                </li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom ">{{ match.team2 }}
                    {% for result in match.team2_scores %}
                        <span>{{ result }}</span>
                    {% endfor %}
                </li>

                <li class="spacer">&nbsp;</li>
            {% endfor %}
        </ul>
    {% endfor %}
</main>
{% endblock %}