{% extends 'competition/template.html' %}
{% load static %}
{% load i18n %}
{% block extra_head %}
    <style>
        #test {
            display: flex;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="test"></div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'football/bundle.js' %}"></script>
    <script>
        renderTest();
    </script>
{% endblock %}